# Disabilita le dipendenze opzionali che causano problemi
omit=optional
shamefully-hoist=true
legacy-peer-deps=true
auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
enable-pre-post-scripts=true 